<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">2nd year computer science student in ucd</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/gizmo.jpg" />
      <p>That is a picture of my brothers cat gizmo I don't have any pictures of me or my cats!!</p>
      <p></p>
      <p>I have started coaching beginners in archery which is a lot of fun. I am also a peer mentor to first years.</p>
    </div>
  </main>
</body>
</html>
